@import 'variable';
@import 'mixins';

body{
    background: $bg-color;
    color: $text;
    text-align: center;
    @include transition_name(.5s);
    span{
        background: $bg-heading;
        display: block;
        padding: 5px;
        box-shadow: 0px 1px 5px 0px black;
        border-radius: 4px;
        font-size: 50px;
    }&:hover{
        background: $bg-heading;
        
     }
     
}